<div class="container employe-form">
  <form 
  [formGroup]="formEmployee"
  (ngSubmit)="onEmployeeFormSubmit($event)">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Employee Details
        </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <input 
            id="employeeName"
            formControlName="employeeName"
            type="text"
            clas="text form-control"
            placeholder="Enter name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <input 
              id="department"
              formControlName="department"
              type="text"
              clas="text form-control"
              placeholder="Enter department">
        </div>
      </div>

      <app-personal-details
        [form]="[formEmployee, 'formPersonalDetails']">
      </app-personal-details>

      <app-emergency-details
        [form]="[formEmployee, 'formEmergencyDetails']">
      </app-emergency-details>

      <div class="row">
        <div class="col-md-12">
            <button type="submit">
              Submit
            </button>
            <button type="button" (click)="onReset($event)">
                Reset
            </button>
        </div>
      </div>

    </div>
  </div>
  </form>

  <div>
    <pre>
Form Status: {{formEmployee.valid | json}}

Form value: 
"formEmployee": {{formEmployee.getRawValue() | json}}
    </pre>
  </div>
</div>
